{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    
    <div class="w-1/2 p-10 mx-auto bg-white rounded-lg shadow-md max-w-m d">
        <h2 class="mb-6 text-2xl font-bold text-center text-gray-800">Login to Your Account</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="p-3 mb-4 text-sm text-green-700 bg-green-100 rounded">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <form action="" method="POST" class="space-y-5">
            {% csrf_token %}
            
            {{form.as_p}}
            
            <div>
                <button type="submit"
                    class="w-full px-4 py-2 my-3 font-semibold transition duration-300 bg-blue-600 rounded-md hover:bg-blue-700">
                    Login
                </button>
            </div>

            <p class="text-sm text-center text-gray-500">
                Don't have an account?
                <a href="{% url 'users:sign-up' %}" class="text-blue-600 hover:underline">Register here</a>
            </p>
        </form>
    </div>

</body>
</html>
